.btn {
  margin-left: .2rem;
  margin-right: .2rem;
  margin-bottom: .5rem;
}

.ingredient-list {
  margin-top: .6rem;
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}
